<div class="{{styles.example}}">

    <div class="{{styles.exampleContainer}}"
         data-js-module="{{moduleName}}"
         data-js-element="exampleContainer">
    </div>

    <div class="{{styles.exampleToolbar}}">
        <span>
            Name: <span class="{{styles.moduleName}}">{{moduleName}}</span><br>
            ID: <span class="{{styles.moduleId}}" data-js-element="moduleId"></span>
        </span>
        <button class="etz {{styles.button}}"
                data-js-element="removeButton">Remove</button>
    </div>
</div>
