<div class="{{styles.example}}">

    <div class="{{styles.exampleContainer}}"
         data-js-module="{{moduleName}}"
         data-js-element="exampleContainer">
    </div>

    <div class="{{styles.exampleToolbar}}">
        <span>
            Name: <span class="{{styles.moduleName}}">{{moduleName}}</span><br>
            ID: <span class="{{styles.moduleId}}" data-js-element="moduleId"></span>
        </span>
        <button class="btn btn-sm btn-secondary" data-js-element="removeButton">
            Remove
            <i class="icon icon-cross"></i>
        </button>
    </div>
</div>
